 <form method="POST" id="createUser">
    {{ form_start(form) }}
    {{ form_rest(form)}}
    <button id="submit-create-user" type="submit" class="button">Create new user</button>
    {{ form_end(form) }}
 </form>